# Ambiente virtual Python
venv/
env/
.venv/

# Cache Python
__pycache__/
*.pyc

# Índice FAISS (arquivo grande)
*.index

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

#arquivos muito grandes
backend/embeddings_index/metadata.csv
backend/embeddings_index/embeddings.npy